* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
}

button:hover {
    opacity: 0.8;
}

/* Navigation */

.navigation {
    width: 100%;
    background-color: #cafdff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    width: 300px;
}

.navigation__logo--img {
    width: 100%;
}

.navigation__list-item {
    padding-left: 16px; 
}

.navigation__list-link {
    font-size: 24px;
    color: black;
}

.navigation__list-item--primary {
    padding-left: 24px;
}

.navigation__list-link--primary {
    font-size: 24px;
    border: 2px solid #05c7cf;
    padding: 10px;
    border-radius: 4px;
    background-color: #05c7cf;
    color: #fff;
}

.navigation__list-link--primary:hover,
.navigation__list-link:hover  {
    opacity: 0.8;
}

/* Landing Page */

.landing-page__container {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.landing-page {
    padding: 24px;
    background-color: #eadcff;
    height: calc(100vh - 70px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page__figure--img {
    width: 100%;
}

    /* landing page text */

.landing-page__heading {
    font-size: 72px;
}

.landing-page__para {
    font-size: 36px;
    padding: 16px 0 24px 0;
}

.landing-page__button {
    padding: 8px 16px;
    font-size: 24px;
    background-color: #05c7cf;
    border: none;
    color: #fff;
}

/* About section */

#about {
    background-color: #f8ffdc;
    padding: 48px 0;
}

.about__heading {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__para--wrapper {
    padding: 0 24px;
}

.about__para {
    margin-bottom: 24px;
    font-size: 20px;
}

.about__figure {
    padding: 0 24px;
}

.about__figure--img {
    width: 100%;
}

/* Discord section */

#discord {
    background-color: #cefeff;
    padding: 48px 0;
}

.discord__heading {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.discord__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discord__para--wrapper {
    padding: 0 24px;
}

.discord__para {
    margin-bottom: 24px;
    font-size: 20px;
}

.discord__figure {
    padding: 0 24px;
}

.discord__figure--img {
    width: 100%;
}

/* Contact */ 

#contact {
    background-color: #dce9ff;
}

.contact__heading {
    font-size: 60px;
    text-align: center;
}

.contact__form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-us__button {
    background-color: #05c7cf;
    color: #fff;
    border: none;
}

/* Footer */

#footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__figure {
    max-width: 400px;
    margin-bottom: 16px;
}

.footer__figure--img {
    width: 100%;
}

.footer__list {
    display: flex;
    margin-bottom: 32px;
}

.footer__list--item {
    padding: 0 16px;
}

.footer__list--link {
    font-size: 24px;
    color: black;
    font-weight: bold;
}